body {
  font-size: 10px;
}

h1 {
  text-align: center;
}

.main {
  max-width: 70rem;
  margin: auto;
}

header {
  line-height: 2;
  font-size: 1.5rem;
}

header span {
  display: block;
  font-size: 1.2rem;
}

.quote-section {
  margin-bottom: 1rem;
}

.image img {
  max-width: 24rem;
  position: sticky;
}

.quote-section-title {
  text-align: left;
}

.center {
  text-align: center;
}
